{{!-- {{Set up to have template for handlebars to render}} --}}

{{!-- {{Set up button to submit data to databse}} --}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="icon" href="https://img.icons8.com/cotton/64/000000/beefburger.png">
</head>


<body>

  <style>
    body {
      background-color: lightblue;
    }

    #wrapper {
      border: solid green 3px;
      text-align: center;
    }

    #bt {
      color: black;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      font-family: fantasy;
      text-decoration: underline gray;
    }

    #burgerForm {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      border: solid black 4px;
      border-radius: 4px;
      width: 50%;
      background-color: gray;
    }

    #burgerLabel {
      font-family: fantasy;
      color: black;
      text-decoration: underline gray;
    }

    #notDevouredCheck {
      display: inline;
    }

    #devouredCheck {
      display: inline;
      margin-left: 10%;
    }

    #bi {
      margin-top: 2%;
      color: black;
      font-family: fantasy;
      text-decoration: underline gray;
    }

    .devouredList {
    }

    .notDevouredList {
    }

    #burger {
      color: black;
      background-color: gray;
      margin: 2%;
      border-radius: 3px;
      text-decoration: underline lightblue;
    }

  </style>

<div id="wrapper">

<h1 id="bt">Burger Logger</h1>

<br>


<form class="create-form" id="burgerForm">
  <h2 id="bi">Add a burger</h2>

  <div class="form-group">
    <label for="burger-name">Burger:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <div class="form-group">
    <h5 id="burgerLabel">Has the burger been devoured?</h5>
    {{!-- <label id="bugerLabel" for="devoured">Devoured?</label><br> --}}
    <input id="notDevouredCheck" type="radio" name="devoured" value="0"> Not devoured
    <input id="devouredCheck" type="radio" name="devoured" value="1" checked> Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 id='notDevouredLabel'>Not Devoured</h2>
      {{!-- {{Finds all entries in burgers table and adds to them to this list if they have not been devoured}} --}}
      <ul class="devouredList">
          {{#each burgers}}
              {{#unless devoured}}
                  {{> burgers/burger-block devoured=true}}
              {{/unless}}
          {{/each}}
      </ul>
    </div>

    <div class="col">
      <h2 id='devouredLabel'>Devoured Burgers</h2>
      {{!-- {{Finds all entries in burgers table and adds to them to this list if they have been devoured}} --}}
      <ul class="notDevouredList">
          {{#each burgers }}
              {{#if devoured}}
                  {{> burgers/burger-block devoured=false}}
              {{/if}}
          {{/each}}
      </ul>
    </div>
  </div>
</div>
</div>

</body>